@media screen and (max-width: 1122px) {
    .header-section .top-header-section .mid{
        display: none;
    }
    
    .header-section .top-header-section .vertical-line{
        display: none;
    }
}

/* Gallery columns: 2 */
@media screen and (max-width:984px){
    main .gallery{
        columns: 2;
    }

    .vertical-line{
        min-width: 1px;
    }
}


/*  */
@media screen and (max-width:748px){
    main .gallery{
        columns: 1;
    }

    .vertical-line{
        display: none;
    }

    .header-section .categories .angle-small-left{
        left: 100px;
    }

    .header-section .categories .angle-small-right{
        right: 10px;
    }

    .header-section .categories .angle-small-left img{
        width: 20px;
    }

    .header-section .categories .angle-small-right img{
        width: 20px;
    }
}

@media screen and (max-width: 759px){
    main .container .editorial-title-details{
        height: 310px;
    }

    main .container .other-categories{
        height: 310px;
    }

    main .container .other-categories .containing-div .title{
        font-size: 28px;
    }

    main .container .other-categories .containing-div .content{
        font-size: 18px;
    }

    main .container .editorial-title-details .containing-div .title{
        font-size: 28px;
    }

    main .container .editorial-title-details .containing-div .content{
        font-size: 18px;
    }

    main .container .editorial-title-details .containing-div .search-box{
        display: none;
    }

    main .about-button{
        height: 40px;
        width: 40px;
    }

    main .about-button img{
        width: 28px;
    }

    .header-section .top-header-section .branding{
        font-size: 28px;
    }
}

@media screen and (max-width:560px){
    .header-section .top-header-section .right .login{
        display: none;
    }

    .header-section .top-header-section .search-box::placeholder{
        content: "Search";
    }
}

@media screen and (max-width:615px){
    main .container .editorial-title-details .containing-div{
        margin: auto;
        margin-right: 0px;
        margin-left: 20px;
        width: fit-content;
    }

    main .container .editorial-title-details .containing-div .title{
        font-size: 24px;
    }

    main .container .editorial-title-details .containing-div .content{
        font-size: 15px;
    }

    main .container .other-categories .containing-div .title{
        font-size: 24px;
    }

    main .container .other-categories .containing-div .content{
        font-size: 15px;
    }

    main .container .other-categories .containing-div{
        margin: auto 20px;
        width: fit-content;
    }
}

@media screen and (max-width: 611px){
    main .about-section .container{
        border-radius: 0px;
    }
}

@media screen and (max-width: 420px){
    .header-section .top-header-section .branding{
        font-size: 25px;
    }

    .header-section .top-header-section{
        padding: 15px 18px;
    }

    .header-section .categories .angle-small-left{
        display: none;
    }

    .header-section .categories .angle-small-right{
        display: none;
    }

    .header-section .categories .right{
        overflow: revert;
    }

    .header-section .categories{
        overflow-x: auto;
        scrollbar-width: none;
    }

    .header-section .categories::-webkit-scrollbar{
        display: none;
    }

    main .image-popup-window{
        background-color: transparent;
        backdrop-filter: blur(5px);
    }

    main .image-popup-window .image-nav-control{
        top: 90%;
    }

    main .image-popup-window .image-nav-control svg{
        fill: white;
    }

    main .image-popup-window .preview-image{
        height: auto !important; 
        width: 90%;
        border-radius: 0px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border: 1px solid white;
    }

    main .image-popup-window .download-button{
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    main .image-popup-window .close-button svg{
        fill: white;
    }

    main .about-section .container .content .title{
        font-size: 38px;
    }

    main .about-section .container .content .info{
        font-size: 15px;
    }
}


@media screen and (max-width:1027px){
    main .image-popup-window{
        height: 90vh;
        width: 90%;
    }

    main .image-popup-window .preview-image{
        height: 50%;
    }
}

@media screen and (max-width:684px){
    main .image-popup-window .preview-image{
        height: 40%;
    }
}

@media screen and (max-width:594px){
    main .image-popup-window{
        height: 100vh;
        width: 100%;
        border-radius: 0px;
    }
}

@media screen and (max-width:543px){
    main .image-popup-window .preview-image{
        height: 30%;
    }
}

@media screen and (max-width:368px){
    main .image-popup-window .download-button{
        top: 20px;
        right: 20px;
    }

    main .image-popup-window .close-button{
        top: 20px;
        left: 20px;
    }

    .header-section .top-header-section .left{
        gap: 8px;
    }

    .header-section .top-header-section .branding{
        font-size: 22px;
    }

    .header-section .top-header-section .search-box{
        transform: scale(0.9);
    }

    main .about-section .container .content .title{
        line-height: 1.1;
    }
}